 #h1
 {  text-align:center;
    font-size: 30px;
 }
body{padding:10px;}
 #box1 ,#box2 ,#box3
 {   position:relative;
     box-sizing:border-box;
     margin:10px;
	 font-size:20px;
	 text-align:left;
	 height:auto;
	 width:31%;
	 float:left;
	 background-color:grey;
	 border:1px solid black;
 }
 #title1
 {   position:absolute;
     top:0px;
     right:0px;
     padding:3px 30px;
	 border:1px solid black;
	 text-align:center; 
     background-color:red;
	 color:white;
	 font-weight:bold;
}
#title2
 {   position:absolute;
     top:0px;
     right:0px;
     padding:3px 30px;
	 border:1px solid black;
	 text-align:center;
     background-color:pink;
	 color:black;
	 font-weight:bold;
}
#title3
 {   position:absolute;
     top:0px;
     right:0px;
     padding:3px 30px;
	 border:1px solid black;
	 text-align:center;
     background-color:yellow;
	 color:red;
	 font-weight:bold;
}
 
@media (min-width:992px)
{  
     #box3,#box2,#box1
	 {
		 width:31%;
	 }
}
@media (min-width:768px) and (max-width:991px)
{
     #box2,#box1
	 {
		 width:47%;
     }
	#box3
	 {
     width:96%;
	 }
}
@media (max-width:767px)
{
    #box1,#box2,#box3
	 {
     width:96%;
	 } 
}


				 
		 
	